<div class="container d-flex flex-column align-items-center">
  <h1 class="fw-bold text-primary mt-2">Inserir Nova Despesa</h1>

  <form [formGroup]="form" (ngSubmit)="gravar()" class="d-flex flex-column mt-3">
    <mat-form-field>
      <mat-label>Descrição:</mat-label>
      <input matInput formControlName="descricao" class="form-control" type="text"
        placeholder="Digite a descrição da despesa" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor R$:</mat-label>
      <input matInput formControlName="valor" class="form-control" type="number" 
        placeholder="Digite o valor da despesa" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data</mat-label>
      <input formControlName="data" class="form-control" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div class="pb-2 d-flex flex-column">
      <mat-label class="form-label">Forma de Pagamento:</mat-label>
      <mat-radio-group formControlName="formaPagamento">
        <mat-radio-button [value]="0">Pix</mat-radio-button>
        <mat-radio-button [value]="1">À Vista</mat-radio-button>
        <mat-radio-button [value]="2">Cartão de Crédito</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-group mb-2">
      <mat-label>Categorias:</mat-label>
    </div>

    <div class="d-flex flex-wrap gap-2" *ngIf="categorias.length > 0" 
      formArrayName="categoriasSelecionadas">
      <div *ngFor="let categoria of form.get('categoriasSelecionadas')?.value; let i = index" 
        [formGroupName]="i">
        <mat-checkbox formControlName="checked">
          {{ categoria.nome }}
        </mat-checkbox>
      </div>
    </div>

    <div class="form-group mb-3">
      <div class="card-footer g-grid d-flex gap-1 mt-4 mb-1">
        <button data-cy="btnGravar" type="submit" mat-fab extended color="primary" class="px-4">
          <mat-icon class="bi bi-save me-2"></mat-icon>
          Gravar
        </button>
        <button routerLink="/despesas/listar" type="button" mat-fab extended color="basic" class="px-4">
          <mat-icon class="bi bi-arrow-return-left me-2"></mat-icon>
          Voltar
        </button>
      </div>
    </div>
  </form>
</div>