<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Editar Categoria</h1>
      </div>

      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4">
        <div class="form-group mb-3 position-relative">
          <label class="form-label">Título:</label>
          <input formControlName="titulo" [ngClass]="campoEstaInvalido('titulo') ? 'is-invalid' : ''"
            class="form-control" type="text" placeholder="Digite o título da categoria" />
          <div *ngIf="campoEstaInvalido('titulo')">
            <span class="bg-danger rounded-2 text-light px-2 pb-1">O Título precisa ser preenchido.</span>
          </div>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5 mb-1">
          <button type="submit" mat-fab extended  color="primary" class="px-5">
            <mat-icon class="bi bi-save me-2"></mat-icon>
            Gravar
          </button>
          <button routerLink="/categorias/listar" type="button" mat-fab extended color="basic" class="px-5">
            <mat-icon class="bi bi-arrow-return-left me-2"></mat-icon>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
