<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Listar Categorias</h1>
        <hr />
      </div>

      <!-- Barra de Ações -->
        <a
          [routerLink]="['/categorias/inserir']"
          role="button"
          mat-fab extended color="primary">
          <mat-icon class="bi bi-plus mb-1"></mat-icon>
          Nova Categoria
        </a>

      <!-- Listagem de Registros -->
      <div class="mt-3 mb-1">
        <div class="row g-3">
          <div *ngFor="let categoria of categorias" class="col-sm col-md-6 col-lg-4">
            <app-card-categoria
              [categoria]="categoria"
            ></app-card-categoria>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
