<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="mb-1 mb-md-0 mb-lg-0" mat-fab extended color="primary" routerLink="/">
      e-Agenda
      <mat-icon class="bi bi-clipboard2-check-fill text-purple ms-2"></mat-icon>
    </a>
    <button (click)="estaColapsada = !estaColapsada" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="estaColapsada">
     
      <div class="links w-100 text-center" *ngIf="(usuarioEstaLogado$ | async)">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a mat-button color="primary" routerLinkActive="fw-semibold" 
            routerLink="/contatos/listar">Contatos</a>
          </li>
          <li class="nav-item">
            <a mat-button color="primary" routerLinkActive="fw-semibold"
              routerLink="/compromissos/listar">Compromissos</a>
          </li>
          <li class="nav-item">
            <a mat-button color="primary" routerLinkActive="fw-semibold"
              routerLink="/categorias/listar">Categorias</a>
          </li>
          <li class="nav-item">
            <a mat-button color="primary" routerLinkActive="fw-semibold" 
            routerLink="/despesas/listar">Despesas</a>
          </li>
          <li class="nav-item">
            <a mat-button color="primary" routerLinkActive="fw-semibold" 
            routerLink="/tarefas/listar">Tarefas</a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="(usuarioEstaLogado$ | async)">
      <button mat-fab extended color="primary" (click)="sair()">
        <mat-icon class="bi bi-door-open-fill"></mat-icon>
        Sair
      </button>
    </div>
    <div *ngIf="!(usuarioEstaLogado$ | async)"
      class="d-flex justify-content-end w-100 my-2 md-my-0 lg-my-0 gap-2">
      <a mat-raised-button color="primary" routerLinkActive="text-info" 
      routerLink="/registro">Registrar</a>
      <a mat-raised-button color="primary" routerLinkActive="text-info" 
      routerLink="/login">Login</a>
    </div>
  </div>
</nav>