<mat-card class="h-100 mb-2">
  <mat-card-header class="mb-2">
    <mat-card-title>{{ categoria.titulo }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="primary" aria-label="Editar" ngbTooltip="Editar" placement="bottom"
      routerLink="/contatos/editar/{{ categoria.id }}" class="mx-1">
      <mat-icon class="bi bi-pen"></mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Excluir" ngbTooltip="Excluir" placement="bottom"
      routerLink="/contatos/excluir/{{ categoria.id }}" class="mx-1">
      <mat-icon class="bi bi-trash"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>