<div class="container">

  <h1 class="fw-bold text-primary">Concluir Itens da Tarefa</h1>

  <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4">
    <div class="d-flex flex-wrap gap-2" formArrayName="itens">
      <div *ngFor="let item of form.get('itens')?.value; let i = index" [formGroupName]="i">
        <mat-checkbox formControlName="checked">
          {{ item.nome }}
        </mat-checkbox>
      </div>
    </div>

    <div class="card-footer g-grid d-flex gap-1 mt-4 mb-1">
      <button data-cy="btnGravar" type="submit" mat-fab extended color="primary" class="px-4">
        <mat-icon class="bi bi-save me-2"></mat-icon>
        Gravar
      </button>
      <button routerLink="/tarefas/listar" type="button" mat-fab extended color="basic" class="px-4">
        <mat-icon class="bi bi-arrow-return-left me-2"></mat-icon>
        Voltar
      </button>
    </div>
  </form>
</div>