<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 mx-auto mt-5">
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Concluir Itens da Tarefa</h1>
      </div>

      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-4">
        <div class="d-flex flex-wrap gap-2" formArrayName="itens">
          <div *ngFor="let item of form.get('itens')?.value; let i = index"
          [formGroupName]="i" class="bg-light border rounded-pill p-2">
            <label>
              <input type="checkbox" formControlName="selected"> {{ item.name }}
            </label>
          </div>
        </div>

        <div class="card-footer g-grid d-flex gap-1 mt-5 mb-1">
          <button data-cy="btnGravar" type="submit" mat-fab extended color="primary" class="px-5">
            <mat-icon class="bi bi-save me-2"></mat-icon>
            Gravar
          </button>
          <button routerLink="/tarefas/listar" type="button" mat-fab extended color="basic" class="px-5">
            <mat-icon class="bi bi-arrow-return-left me-2"></mat-icon>
            Voltar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>