<div class="container d-flex flex-column align-items-center">
  <h1 class="fw-bold text-primary mt-2">Editar Tarefa</h1>

  <form [formGroup]="form" (ngSubmit)="gravar()" class="d-flex flex-column mt-3">
    <mat-form-field>
      <mat-label>Título:</mat-label>
      <input matInput formControlName="titulo" class="form-control" type="text" 
        placeholder="Digite o título da tarefa"
        required />
    </mat-form-field>

    <div class="pb-2 d-flex flex-column">
      <mat-label class="form-label">Grau de Prioridade:</mat-label>
      <mat-radio-group formControlName="prioridade">
        <mat-radio-button [value]="0">Baixa</mat-radio-button>
        <mat-radio-button [value]="1">Normal</mat-radio-button>
        <mat-radio-button [value]="2">Alta</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-group mb-2">
      <mat-label>Itens:</mat-label>
    </div>

    <div class="d-flex flex-wrap gap-2" formArrayName="itens">
      <div *ngFor="let item of form.get('itens')?.value; let i = index" [formGroupName]="i">
        <mat-checkbox formControlName="checked">
          {{ item.nome }}
        </mat-checkbox>
      </div>
    </div>

    <div class="text-md-start">
      <h3 class="fw-bold text-primary">Inserir Novo Item</h3>
    </div>

    <form [formGroup]="formItem" class="d-flex flex-column mt-1">
      <mat-form-field>
        <mat-label class="form-mat-label">Título:</mat-label>
        <input matInput formControlName="titulo" class="form-control" type="text"
          placeholder="Digite o título do item" />
      </mat-form-field>
      <button (click)="adicionarItem()" type="button" mat-raised-button color="primary" 
          class="px-4">
          Adicionar Item
      </button>
    </form>

    <div class="card-footer d-flex gap-1 mt-4 mb-1">
      <button data-cy="btnGravar" type="submit" mat-fab extended color="primary" class="px-4">
        <mat-icon class="bi bi-save me-2"></mat-icon>
        Gravar
      </button>
      <button routerLink="/tarefas/listar" type="button" mat-fab extended color="basic" class="px-4">
        <mat-icon class="bi bi-arrow-return-left me-2"></mat-icon>
        Voltar
      </button>
    </div>
  </form>
</div>