<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Listar Despesas</h1>
        <hr />
      </div>

      <!-- Barra de Ações -->
      <a
          [routerLink]="['/despesas/inserir']"
          role="button"
          mat-fab extended color="primary">
          <mat-icon class="bi bi-plus mb-1"></mat-icon>
          Nova Despesa
      </a>

      <div class="d-flex flex-wrap gap-2 my-2">
        <button mat-raised-button color="primary" ngbTooltip="Mostrar todas" placement="bottom"
          (click)="mudarListagem('todos')">
          Todas
        </button>
        <button mat-raised-button color="primary" ngbTooltip="Mostrar despesas antigas" placement="bottom"
          (click)="mudarListagem('antigas')">
          Antigas
        </button>
        <button mat-raised-button color="primary" ngbTooltip="Mostrar despesas dos últimos 30 dias" placement="bottom"
          (click)="mudarListagem('mes')">
          Últimos 30 Dias
        </button>
      </div>

      <!-- Listagem de Registros -->
      <div class="mt-3 mb-1">
        <div class="row g-3">
          <div *ngFor="let despesa of despesas" class="col-sm col-md-6 col-lg-4">
            <app-card-despesa [despesa]="despesa"></app-card-despesa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>