<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <h1 class="fw-bold text-primary">Listar Tarefas</h1>
        <hr />
      </div>

      <!-- Barra de Ações -->
      <a
          [routerLink]="['/tarefas/inserir']"
          role="button"
          mat-fab extended color="primary">
          <mat-icon class="bi bi-plus mb-1"></mat-icon>
          Nova Tarefa
      </a>

      <div class="d-flex flex-wrap gap-2 my-2">
        <button mat-raised-button color="primary" ngbTooltip="Mostrar todas" placement="bottom"
          (click)="mudarListagem('todos')">
          Todas
        </button>
        <button mat-raised-button color="primary" ngbTooltip="Mostrar tarefas pendentes" placement="bottom"
          (click)="mudarListagem('pendentes')">
          Pendentes
        </button>
        <button mat-raised-button color="primary" ngbTooltip="Mostrar tarefas concluídas" placement="bottom"
          (click)="mudarListagem('concluidos')">
          Concluídas
        </button>
      </div>

      <!-- Listagem de Registros -->
      <div class="mt-3 mb-1">
        <div class="row g-3">
          <div *ngFor="let tarefa of tarefas" class="col-sm col-md-6 col-lg-4">
            <app-card-tarefa
              [tarefa]="tarefa"
            ></app-card-tarefa>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 