<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto my-5">
      <!-- Titulo -->
      <div class="text-md-start">
        <div class="text-md-start">
          <h1 class="fw-bold text-primary">Detalhes de Despesa</h1>
          <hr />
        </div>

        <h2 class="fs-5">
          Apresentando informações detalhadas da despesa
          <span class="fw-bolder fst-italic">"{{despesaVM.descricao}}" </span>?
        </h2>
      </div>

      <dl class="form-group mt-4 row">
        <dt class="col-md-4">
          <label class="control-label">Descrição:</label>
        </dt>
        <dd class="col-md-8">{{despesaVM.descricao}}</dd>

        <dt class="col-md-4">
          <label class="control-label">Valor:</label>
        </dt>
        <dd class="col-md-8">R${{despesaVM.valor}}</dd>

        <dt class="col-md-4">
          <label class="control-label">Data:</label>
        </dt>
        <dd class="col-md-8">{{despesaVM.data | date }}</dd>

        <dt class="col-md-4">
          <label class="control-label">Forma de Pagamento:</label>
        </dt>
        <dd class="col-md-8">{{
          despesaVM.formaPagamento == 0 ? 'Pix' : despesaVM.formaPagamento == 1 ? 'A vista' : 'Cartão de Crédito' 
        }}</dd>

        <dl *ngFor="let categoria of despesaVM.categorias"
          class="form-group mt-2 d-flex flex-wrap rounded-3 align-items-center">
          <dt class="border-bottom">
            <label class="control-label px-3">Categoria:</label>
          </dt>
          <dd class="border-bottom pt-2">{{ categoria }}</dd>
        </dl>
      </dl>

      <div class="card-footer g-grid d-flex gap-1 mt-5">
        <button routerLink="/despesas/editar/{{despesaVM.id}}" type="button" class="btn btn-primary px-5">
          <i class="bi bi-pen me-2"></i>
          Editar
        </button>
        <button
          routerLink="/despesas/listar"
          type="button"
          class="btn btn-outline-primary px-5"
        >
          <i class="bi bi-arrow-return-left me-2"></i>
          Voltar
        </button>
      </div>
    </div>
  </div>
</div>