<mat-card class="h-100 mb-2">
  <mat-card-header class="mb-2">
    <mat-card-title>{{ compromisso.assunto }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="d-flex flex-wrap w-100 px-2">
      <h3 class="card-title">Data: </h3>
      <h3 class="ms-auto fw-semibold text-muted">{{ compromisso.data | date }}</h3>
    </div>
    <div class="d-flex flex-wrap w-100 px-2">
      <h3 class="card-title">Hora de Início: </h3>
      <h3 class="ms-auto fw-semibold text-muted">{{ compromisso.horaInicio }}</h3>
    </div>
    <div class="d-flex flex-wrap w-100 px-2">
      <h3 class="card-title">Hora de Término: </h3>
      <h3 class="ms-auto fw-semibold text-muted">{{ compromisso.horaTermino }}</h3>
    </div>
    <div class="d-flex flex-wrap w-100 px-2">
      <h3 class="card-title">Contato: </h3>
      <h3 class="ms-auto fw-semibold text-muted">{{ compromisso.nomeContato }}</h3>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="primary" aria-label="Editar" ngbTooltip="Editar" placement="bottom"
      routerLink="/compromissos/editar/{{ compromisso.id }}" class="mx-1">
      <mat-icon class="bi bi-pen"></mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Excluir" ngbTooltip="Excluir" placement="bottom"
      routerLink="/compromissos/excluir/{{ compromisso.id }}" class="mx-1">
      <mat-icon class="bi bi-trash"></mat-icon>
    </button>
  </mat-card-actions>
</mat-card>